<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tasks</title>
</head>
<body>

<pre>{{ dump(tasks) }}</pre>

{% for task in tasks %}
    {{ task.name }}
{% endfor %}

</body>
</html>